* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #4b4b4b;
  height: 80px;
  width: 100%;
  display: flex;
  padding: 10px 0;
  box-sizing: border-box;
}

.priority-filter {
  display: flex;
  background-color: #3d3d3d;
  height: 60px;
  gap: 15px;
  margin-left: 60px;
}

.box {
  height: 40px;
  margin: 10px;
  width: 60px;
  box-sizing: border-box;
}

.box:hover {
  cursor: pointer;
  border: 2px solid #fff;
}

.box.p1 {
  background-color: pink;
}

.box.p2 {
  background-color: seagreen;
}

.box.p3 {
  background-color: cornflowerblue;
}

.box.p4 {
  background-color: black;
}

.quick-action {
  display: flex;
  height: 60px;
  gap: 15px;
  margin-left: 60px;
}

.quick-action .icon {
  background-color: #3d3d3d;
  font-size: 30px;
  padding: 5px;
  cursor: pointer;
  padding: 0 10px;
  display: flex;
  align-items: center;
  color: white;
}

.quick-action .icon.delete {
  color: white;
}

.quick-action .icon.delete.enabled {
  color: red;
}

.clear-filter {
  margin-left: 15px;
  padding: 10px;
}

.quick-action .icon:hover {
  background-color: greenyellow;
}

main h1 {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}

.modal {
  width: 50vw;
  height: 50vh;
  background: #dfe4ea;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
}

.modal .left-section {
  width: calc(100% - 80px);
  height: 100%;
  display: flex;
}

.modal .left-section textarea {
  width: 100%;
  background-color: transparent;
  padding: 10px;
}

.modal .right-section {
  display: flex;
  width: 80px;
  height: 100%;
  background-color: #4b4b4b;
  flex-direction: column;
  position: relative;
}

.modal .right-section .close {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 22px;
  color: red;
  cursor: pointer;
  background-color: rgba(180, 176, 176, 0.8);
  border-radius: 100%;
  padding: 5px;
  height: 20px;
  width: 20px;
  text-align: center;
}

.modal .priority-filter {
  flex-direction: column;
  margin-left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.modal .box.selected {
  cursor: pointer;
  border: 1px solid #fff;
}

.modal .box.selected {
  border: 2px solid #fff;
}

.hide {
  display: none;
}

.ticket-section {
  display: flex;
  padding: 10px;
  gap: 15px;
  flex-wrap: wrap;
}
.ticket-section.enable-delete .ticket-delete {
  display: block;
}

.ticket-container {
  background-color: #ccc;
  width: 200px;
  min-height: 100px;
  position: relative;
}

.ticket-content {
  display: flex;
  height: 100px;
}

.ticket-content textarea {
  display: flex;
  width: 100%;
  background: transparent;
  border: none;
  resize: none;
  outline: none;
  padding: 5px;
}

.ticket-priority {
  display: flex;
  height: 20px;
}

.ticket-priority[data-priority="p1"] {
  background-color: pink;
}
.ticket-priority[data-priority="p2"] {
  background-color: seagreen;
}
.ticket-priority[data-priority="p3"] {
  background-color: cornflowerblue;
}
.ticket-priority[data-priority="p4"] {
  background-color: black;
}

.ticket-id {
  display: flex;
  height: 30px;
  background: yellow;
}

.ticket-lock {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}
.ticket-lock .fa-lock-open {
  display: block;
}
.ticket-lock .fa-lock {
  display: none;
}
.ticket-lock.locked .fa-lock-open {
  display: none;
}
.ticket-lock.locked .fa-lock {
  display: block;
}
.ticket-delete {
  position: absolute;
  left: 10px;
  bottom: 8px;
  cursor: pointer;
  display: none;
}
